.verificationToken-page {
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.whitevt-square {
  background-color: white;
  width: 650px;
  height: 650px;
}

.greenvt-square {
  width: 650px;
  height: 650px;

  position: relative;
}

.grayvt-rectangle {
  background-color: #e4e4e4;
  width: 450px;
  height: 130px;
  padding: 60px;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 290px); /* Adjust to move the rectangle to the left */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.5);
}

.inputvt-field {
  border: none;
  border-bottom: 1px solid #909090;
  width: calc(100% + 10px);
  padding: 5px 0;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
  background-color: #e4e4e4;
  margin-left: -10px;
  margin-top: 25px; 

}

.inputvt-field:focus {
  border-bottom: 2px solid #909090;
}

.verification-buttons-container {
  display: flex;
  flex-direction: row; /* Boutons côte à côte */
  justify-content: space-around; /* Distribue l'espace autour des boutons */
  gap: 10px; /* Espacement entre les boutons */
  padding: 4px 0; /* Ajoute de l'espace au-dessus et en dessous du conteneur des boutons */
}


.verification-ok-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20%; /* Ajustez la largeur selon vos besoins */
}
.verification-resend-email-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 40%; /* Ajustez la largeur selon vos besoins */
}

.verification-ok-button {
  background-color: #191F43;
  color: white;
}

.verification-ok-button:hover {
  background-color: #163172; /* Plus sombre au survol */
}

.verification-resend-email-button {
  background-color: #4CAF50; /* Vert pour le bouton actif */
  color: white;
}

.verification-resend-email-button:disabled {
  background-color: #ccc; /* Gris lorsque désactivé */
  color: #666;
  cursor: not-allowed;
}

.verification-resend-email-button:not(:disabled):hover {
  background-color: #45a049; /* Un peu plus foncé au survol */
}
